<h2>Products</h2>
<p id="titleP">ej: pote</p>
<p id="descriptionP">ej: pote 100gr</p>
<p id="priceP">ej: 100</p>
<p id="codeP">ej: P001</p>

<form id="form">

   Title:  <input type="text" name="Title" id="title">
   <br>
   Description: <input type="text" name="Description" id="description">
   <br>
   Price: <input type="number" name="Price" id="price">
   <br>
   Code: <input type="text" name="Code" id="code">
   <br>
   <input type="submit" value="send">
</form>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>